
{% extends 'base.html' %}

{% block content %}

<div class="other-content">
   <h1>About</h1>
   
   <h2>About Us - Quick Origin</h2>
<p>
    An app born out of a software engineer's curiosity and artistic inability. 
    I once saw an artist on SM make a photo mosaic and it was the most beautiful thing I had ever seen, like magic. 
    But two things: I could not afford that artist (at that time), and there was no free website to make it. So, I started on the journey to see if I could write an app that does it. <br> <br>
    This is the blessing and curse of a software engineer; we think an app can be built for everything. But yeah, we got here, maybe a blessing this time. 
</p>

<h2>About the App - What It Does</h2>
<p>
    The app is a photomosaic app. A photo mosaic is an image that is composed of multiple images. It is an old art form as well as a modern art form. <br>
    With this app, you can select any image and choose from the list of compositions (what the photo will be composed of) and watch the magic happen. Over time, the number of compositions will grow. <br> <br>
    Have fun with it, download it, and share it with everyone.
</p>

<br>
<br>
<p>Wishing you as much fun as I had building it.</p>

</div>

{% endblock %}