{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="firstpart">
        <p style="font-family: 'Ojuju', sans-serif;">make your photos fun</p>
            <p class="heading">turn your photos into cool art. <br>a photomosaic</p>
            <p class="info">Turn your photos into art you can now frame in few steps. 
                Watch your pictures go to become something <u>different</u>, <u>cool</u> and <u>exciting</u></p> <br>
    
            <form  id="index" action="/" method="post" enctype="multipart/form-data">
                <label for="">1. select your image:</label> <br>
                <input  id="single_file" type="file" name="single_file" onchange="validateSize(this)" accept="image/*"
                required> <br> <br>
                <span id="errorMessage" style="color: yellow;"></span> <br>
                <label>2. What should it contain?: </label> <br>
                <select id="selected_filter" name="selected_filter">
                    <option value="emoji">emoji</option>
                    <option value="shapes_dark">shapes - dark</option>
                    <option value="shapes_light">shapes - light</option>
                    <option value="ascii">ascii characters</option>
                </select> <br> <br>
                <label>3. Set how light the overlay would be: (works for everything aside ascii)</label> <br>
                <input id="selected_opacity" name="selected_opacity" min=40 step=5 max=90 value="50" type="number" class="clickbtn">  <br> <br>
                <label>4. Set how granular it would be (works for everything aside ascii)</label> <br> 
                <input id="selected_division" name="selected_division" min=50 step=5 max=200 value="50" type="number" class="clickbtn"> 
                
                <br> <br>

                <input type="submit" value="download mosaic" class="submit-btn"/> <br> <br>
                <label>frame it, share it and tell everyone about it</label>
            </form>

            <p style="padding: 50px 0px;">This app was created by <a href="https://twitter.com/0xfatherstreet">simi</a></span></p>
    </div>
    <div class="secondpart">

    <img class="sample-image" src="{{ url_for('static', filename='mosaic.jpg') }}">
    </div>
</div>

<script>
    document.getElementById('single_file').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const maxSizeInBytes = 2 * 1024 * 1024; // 2MB in bytes

        if (file) {
            if (file.size > maxSizeInBytes) {
                document.getElementById('errorMessage').textContent =
                    'File size exceeds 2MB. Please select a smaller file.';
                event.target.value = ''; // Clear the input
            } else {
                const fileSizeInBytes = file.size;
                const fileSizeInKB = (fileSizeInBytes / 1024).toFixed(2);
                const fileSizeInMB = (fileSizeInBytes / (1024 * 1024)).toFixed(2);
                document.getElementById('errorMessage').textContent = '';
            }
        } else {
            document.getElementById('fileSize').textContent = 'No file selected.';
            document.getElementById('errorMessage').textContent = '';
        }
    });

    let opacity = 40;
    const minOpacity = 40;
    const maxOpacity = 80;

    function increaseOpacity(event) {
        event.preventDefault();
        if (opacity < maxOpacity) {
            opacity += 5;
            document.getElementById('opacity').textContent = opacity;
        }
    }

    function decreaseOpacity(event) {
        event.preventDefault();
        if (opacity > minOpacity) {
            opacity -= 5;
            document.getElementById('opacity').textContent = opacity;
        }
    }

    let divisions = 50;
    const minDivisions = 50;
    const maxDivisions = 200;

    function increaseDivisions(event) {
        event.preventDefault();
        if (divisions < maxDivisions) {
            divisions += 5;
            document.getElementById('divisions').textContent = divisions;
        }
    }

    function decreaseDivisions(event) {
        event.preventDefault();
        if (divisions > minDivisions) {
            divisions -= 5;
            document.getElementById('divisions').textContent = divisions;
        }
    }

    document.getElementById('increaseOpacity').addEventListener('click', increaseOpacity);
    document.getElementById('decreaseOpacity').addEventListener('click', decreaseOpacity);
    document.getElementById('increaseDivisions').addEventListener('click', increaseDivisions);
    document.getElementById('decreaseDivisions').addEventListener('click', decreaseDivisions);
</script>

{% endblock %}