{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="firstpart">
        <p style="font-family: 'Ojuju', sans-serif;">make your photos fun</p>
        <p class="heading">turn your photos into image of images</p>
        <p class="info">Turn your photos into beautiful image of images (photomosaic) with our easy-to-use photo mosaic app. 
            In two steps create something <u>magical</u>, <u>cool</u> and <u>beautiful</u></p> <br>
    
            <form  id="index" action="/" method="post" enctype="multipart/form-data">
                <label for="">1. select your image:</label> <br>
                <input  id="single_file" type="file" name="single_file" onchange="validateSize(this)" accept="image/*"
                required> <br> <br>
                <span id="errorMessage" style="color: yellow;"></span> <br>
                <label>2. What should it contain?: </label> <br>
                <select id="selected_filter" name="selected_filter">
                    <option value="ascii">ascii characters</option>
                    <option value="emoji">emoji</option>
                    <option value="shapes">shapes</option>
                </select> <br> <br>
                <input type="submit" value="download mosaic" class="submit-btn"/> <br> <br>
                <label>frame it, share it and tell everyone about it</label>
            </form>

            <p style="padding: 50px 0px;">This app was created by <a href="https://twitter.com/0xfatherstreet">simi</a></span></p>
    </div>
    <div class="secondpart">

    <img class="sample-image" src="{{ url_for('static', filename='mosaic.jpg') }}">
    </div>
</div>

<script>
    document.getElementById('single_file').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const maxSizeInBytes = 3 * 1024 * 1024; // 2MB in bytes

        if (file) {
            if (file.size > maxSizeInBytes) {
                document.getElementById('errorMessage').textContent =
                    'File size exceeds 2MB. Please select a smaller file.';
                event.target.value = ''; // Clear the input
            } else {
                const fileSizeInBytes = file.size;
                const fileSizeInKB = (fileSizeInBytes / 1024).toFixed(2);
                const fileSizeInMB = (fileSizeInBytes / (1024 * 1024)).toFixed(2);
                document.getElementById('errorMessage').textContent = '';
            }
        } else {
            document.getElementById('fileSize').textContent = 'No file selected.';
            document.getElementById('errorMessage').textContent = '';
        }
    });

</script>

{% endblock %}